body {
  background: black;
  font-size: 1.33rem;
  font-family: 'VT323',monospace;
}

.app {
  color: lawngreen;
  text-shadow: 0 0 2ch greenyellow;
  padding: 2em;
  margin: 2em auto;
  border: 2px solid;
  max-width: 80ch;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.app h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  border-bottom: 2px solid;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.2em;
}

@media print {
  .app {
    color: black;
    border: none;
    font-family: monospace;
    font-size: 10pt;
    text-shadow: none;
  }
}